<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   
   <extension
         id="builder"
         point="org.eclipse.core.resources.builders">
      <builder
            callOnEmptyDelta="true"
            hasNature="false"
            isConfigurable="false"><run
                     class="ch.mollusca.subversive.filestatus.IncrementalBuilder">
               </run></builder>
   </extension>

</plugin>
